*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: calc(15px + 0.390625vw);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  color: #6f737f;
}

header {
  background-color: hsl(0, 0%, 98%);
  padding: 1em 0 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5em;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.nav-toggle {
  padding: 0em;
  cursor: pointer;
  border: 0;
  position: absolute;
  right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.nav-toggle__close {
  display: none;
}

.open-nav .nav-toggle__close {
  display: block;
}

.open-nav .nav-toggle__hamburger {
  display: none;
}

.logo {
  width: 100%;
  max-width: 100px;
}

.logo--mobile {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
  background: hsl(270, 9%, 17%);
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
  text-align: center;
  padding: 1em 0 17em;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position-y: right bottom;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-top: 1.5em;
}

.nav__link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__link:hover {
  color: hsl(256, 26%, 20%);
}

.nav__link--button {
  color: #fff;
  border: 2px solid hsl(0, 0%, 98%);
  display: block;
  padding: 1em 0;
}

.nav__link--button:hover {
  border-color: hsl(256, 26%, 20%);
  background-color: hsl(256, 26%, 20%);
  color: #fff;
}

.intro__section {
  position: relative;
  min-height: 124vh;
}

.divider--small {
  margin: 0;
  width: 40%;
  height: 1px;
  background-color: hsl(256, 26%, 20%);
  border: 0;
}

.divider--hide {
  visibility: hidden;
}

.divider--mobile {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  bottom: 2em;
  display: block;
}

.hero {
  position: absolute;
  top: calc(100vh - 38.5%);
  width: 100%;
  background: hsl(256, 26%, 20%);
  color: #fff;
  text-align: center;
  padding: 5.5em 0;
}

.intro__img--mobile {
  position: absolute;
  top: 0;
  z-index: 1;
}

.intro__img--desktop {
  display: none;
}

.intro-foreground {
  width: 100%;
  height: calc(100vh - 21.2%);
  background: url(./images/bg-pattern-intro-left-mobile.svg),
    url(./images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  position: absolute;
  bottom: -1em;
}

.hero__text--big {
  font-size: 2.5rem;
  line-height: 1.1em;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 1;
}

.hero__text--small {
  margin-top: 0.5em;
}

.hero__text--btn,
.third-section__btn {
  text-transform: uppercase;
  width: auto;
  max-width: 150px;
  margin: 0 auto;
  margin-top: 1em;
  display: block;
}

.hero__text--btn:hover,
.third-section__btn:hover {
  border-color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  cursor: pointer;
}

.btn {
  color: #fff;
  border: 2px solid hsl(0, 0%, 98%);
  padding: 0.5em 1em;
}

.second-section {
  text-align: center;
}

.second-section h2,
.second-section h3 {
  color: black;
}

.second-section__title {
  font-size: 2.2rem;
  padding-bottom: 2em;
}

.snappy,
.price,
.people {
  margin-bottom: 3em;
}

.snappy__icon,
.price__icon,
.people__icon {
  display: block;
  margin-bottom: 1em;
}

.snappy__title,
.price__title,
.people__title {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.third-section {
  padding: 4em;
  margin: 5em auto;
  background: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-color: hsl(256, 26%, 20%);
  text-align: center;
  color: #fff;
}

.third-section__text {
  font-weight: 300;
  letter-spacing: 1px;
}

.third-section__btn {
  margin: 2em auto;
  padding: 0.5em;
}

.footer {
  text-align: center;
}

.footer__bg {
  background: url(./images/bg-pattern-footer-mobile.svg);
  background-position: left top;
  background-repeat: no-repeat;
  padding-top: 5em;
}

.footer__logo {
  margin-bottom: 2em;
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin: 0 auto 2em;
}

.footer__divider {
  height: 1px;
  background-color: hsl(273, 4%, 51%);
  border: 0;
}

.footer__plain {
  padding: 0 0 2em;
}

.footer__heading {
  color: hsl(273, 4%, 51%);
  margin: 2em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
}

.footer__link {
  color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 375px) {
  .intro__img--mobile {
    width: 100%;
  }
}

@media (min-width: 437px) {
  .hero {
    top: calc(100vh - 32%);
  }
}

@media (min-width: 600px) {
  .intro__section {
    min-height: 148.5vh;
  }
  .intro__img--desktop {
    display: block;
    width: 100%;
    z-index: 1;
    position: absolute;
  }

  .intro__img--mobile {
    display: none;
  }

  .hero {
    top: calc(100vh - 12%);
  }

  .intro-foreground {
    height: calc(100vh - 21.2%);
  }
}

@media (min-width: 656px) {
  .intro__section {
    min-height: 160vh;
  }

  .hero {
    top: calc(100vh - 5%);
  }

  .intro-foreground {
    height: calc(100vh - 18.5%);
  }
}

@media (min-width: 768px) {
  .intro__section {
    min-height: 170vh;
  }

  .hero {
    top: 100vh;
  }

  .intro-foreground {
    height: calc(100vh - 21%);
  }
}

@media (min-width: 1000px) {
  header {
    padding: 1em 0;
  }
  .nav-toggle {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .reduce-width {
    width: 50%;
  }

  .logo--mobile {
    margin: 0;
  }

  .nav {
    visibility: visible;
    position: relative;
    height: auto;
    background: none;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav__item {
    margin-top: 0;
    margin-left: 1em;
  }

  .nav__link {
    color: hsl(273, 4%, 51%);
  }

  .nav__link--button {
    color: hsl(270, 9%, 17%);
    border-color: hsl(270, 9%, 17%);
    padding: 0.5em 0.9em;
    width: auto;
    max-width: 200px;
    text-align: center;
  }

  .intro__section {
    min-height: 90vh;
  }

  .intro__section--desktop {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1200px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero {
    position: relative;
    top: unset;
    background: none;
    text-align: left;
    padding: 2em 0 0;
  }

  .intro__img--desktop {
    position: relative;
    width: 45%;
  }

  .top-bg {
    height: 60vh;
    background: hsl(256, 26%, 20%);
  }

  .no-gutter {
    margin: 0;
  }

  .divider--hide {
    visibility: visible;
    position: absolute;
    top: 0;
    width: 20%;
  }

  .divider--small {
    background-color: hsl(273, 4%, 51%);
  }

  .divider--mobile {
    left: 0;
    transform: translate(0%);
    width: 10%;
    bottom: -4em;
  }

  .intro-foreground {
    height: 90vh;
    background: url(./images/bg-pattern-intro-left-desktop.svg),
      url(./images/bg-pattern-intro-right-desktop.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
  }

  .hero__text--big {
    line-height: 0.9em;
  }

  .hero__text--small {
    margin: 1em 0;
  }

  .hero__text--btn,
  .third-section__btn {
    text-align: center;
    margin: 0;
    max-width: 200px;
  }

  .second-section {
    text-align: left;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .second-section__title {
    padding-bottom: 1.5em;
  }

  .third-section {
    padding: 2em;
    margin: 3em auto;
    background: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: hsl(256, 26%, 20%);
  }

  .third-section__text {
    font-size: 2.5rem;
    width: 60%;
    text-align: left;
    padding: 0 1em;
    line-height: 1em;
    padding-right: 2.3em;
  }

  .third-section__btn {
    margin-right: 2em;
  }

  .footer {
    background: url(./images/bg-pattern-footer-desktop.svg);
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 7em;
    padding-top: 3em;
    text-align: left;
  }

  .footer__bg {
    background: none;
    padding-top: 0;
  }

  .footer__logo,
  .footer__social {
    margin: 0;
    margin-bottom: 1em;
  }

  .footer__plain {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .col-space {
    margin-right: 6em;
  }
}

@media (min-width: 1440px) {
  .intro__section {
    min-height: 90vh;
  }

  .intro-foreground {
    height: 90vh;
  }

  .divider--mobile {
    bottom: -1em;
  }
}

@media (min-width: 2500px) {
  .intro__section {
    min-height: 70vh;
  }

  .intro-foreground {
    height: 70vh;
  }

  .divider--mobile {
    bottom: -4em;
  }
}
